.aui-toast.toast_msg {
    margin-top: 0;
    bottom: 5rem;
    top: auto;
    min-height: 1rem;
    left: 10%;
    right: 10%;
    width: 80%;
    background: transparent;
    margin-left: 0;
    padding: 0 0.5rem;
}

.aui-toast-content.toast_msg {
    min-width: 1rem;
    margin: 0 auto;
    padding: 0.25rem 0.75rem;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 0.8rem;
    display: inline-flex;
}