.btn.btn-white {
    border: none;
    background-color: transparent !important;
}

.datagrid-toolbar .btn.btn-white {
    padding: 6px !important;
}

.addbutton {
    background: url(../styles/images/buttons/add.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.cancelbutton {
    background: url(../styles/images/buttons/cancel.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.confirmbutton {
    background: url(../styles/images/buttons/confirm.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.editbutton {
    background: url(../styles/images/buttons/edit.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.exportbutton {
    background: url(../styles/images/buttons/export.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.importbutton {
    background: url(../styles/images/buttons/import.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.removebutton {
    background: url(../styles/images/buttons/remove.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.savebutton {
    background: url(../styles/images/buttons/save.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.searchbutton {
    background: url(../styles/images/buttons/search.png) no-repeat;
    background-size: 25px 25px;
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}

.viewbutton {
    background: url(../styles/images/buttons/view.png) no-repeat;
    background-size: 70px 25px;
    width: 70px;
    height: 25px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.buttonmin {
    background-size: 55px 20px;
    width: 55px;
    height: 20px;
}

.datagrid-row-selected a, .datagrid-row-selected a.btn.btn-link {
    color: #fff !important;
}

.btntoolbar .l-btn-text {
    font-size: 14px;
    line-height: 30px;
}


.btntoolbar.l-btn {
    padding: 6px 12px;
    line-height: 30px;
}

    .btntoolbar.l-btn:hover {
        border-radius: 0;
        border: 0px;
        padding: 6px 12px;
    }

.btnlinkbar .l-btn-text {
    font-size: 14px;
    line-height: 24px;
}


.btnlinkbar.l-btn {
    padding: 3px;
    line-height: 24px;
}

    .btnlinkbar.l-btn:hover {
        border-radius: 0;
        border: 0px;
        padding: 3px;
    }

.linebar {
    border: solid 1px #ccc;
    border-radius: 0;
}

    .linebar.l-btn:hover {
        border: solid 1px #ccc;
    }

.icon-add {
    background: url('../styles/icons/增加.png') no-repeat center center;
    display: none;
}

.icon-edit {
    background: url('../styles/icons/修改.png') no-repeat center center;
    display: none;
}

.icon-remove {
    background: url('../styles/icons/删除.png') no-repeat center center;
    display: none;
}

.icon-export {
    background: url('../styles/icons/导出.png') no-repeat center center;
    display: none;
}

.icon-import {
    background: url('../styles/icons/导入.png') no-repeat center center;
    display: none;
}

.icon-setting {
    background: url('../styles/icons/配置.png') no-repeat center center;
    display: none;
}

.icon-search {
    background: url('../styles/icons/搜索.png') no-repeat center center;
    display: none;
}

.icon-choose {
    background: url('../styles/icons/选择.png') no-repeat center center;
    display: none;
}

.icon-save {
    background: url('../styles/icons/保存.png') no-repeat center center;
    display: none;
}

.icon-close {
    background: url('../styles/icons/关闭.png') no-repeat center center;
    display: none;
}

.icon-print {
    background: url('../styles/icons/打印.png') no-repeat center center;
    display: none;
}

.icon-detail {
    background: url('../styles/icons/详情.png') no-repeat center center;
    display: none;
}

.icon-balance {
    background: url('../styles/icons/结算.png') no-repeat center center;
    display: none;
}

.icon-cancelorder {
    background: url('../styles/icons/撤销订单.png') no-repeat center center;
    display: none;
}

.icon-materialout {
    background: url('../styles/icons/出库.png') no-repeat center center;
    display: none;
}

.icon-shoufei {
    background: url('../styles/icons/收费.png') no-repeat center center;
    display: none;
}

.icon-zuofei {
    background: url('../styles/icons/作废.png') no-repeat center center;
    display: none;
}

.icon-shenhe {
    background: url('../styles/icons/审核.png') no-repeat center center;
    display: none;
}

.icon-mingxi {
    background: url('../styles/icons/明细.png') no-repeat center center;
}

.icon-lishi {
    background: url('../styles/icons/历史.png') no-repeat center center;
    display: none;
}

.icon-hetong {
    background: url('../styles/icons/合同.png') no-repeat center center;
    display: none;
}

.icon-baozhengjin {
    background: url('../styles/icons/保证金.png') no-repeat center center;
    display: none;
}

.icon-yushoukuan {
    background: url('../styles/icons/预收款.png') no-repeat center center;
    display: none;
}

.icon-beiwanglu {
    background: url('../styles/icons/备忘录.png') no-repeat center center;
    display: none;
}

.icon-jiaoban {
    background: url('../styles/icons/交班.png') no-repeat center center;
    display: none;
}

.icon-tuikuan {
    background: url('../styles/icons/退款.png') no-repeat center center;
    display: none;
}

.icon-tingyong {
    background: url('../styles/icons/停用.png') no-repeat center center;
}

.icon-shengcheng {
    background: url('../styles/icons/生成.png') no-repeat center center;
    display: none;
}

.icon-xiangmubanjie {
    background: url('../styles/icons/项目办结.png') no-repeat center center;
    display: none;
}

.icon-paidan {
    background: url('../styles/icons/派单.png') no-repeat center center;
    display: none;
}

.icon-chuli {
    background: url('../styles/icons/处理.png') no-repeat center center;
    display: none;
}

.icon-banjie {
    background: url('../styles/icons/办结.png') no-repeat center center;
    display: none;
}

.icon-huifang {
    background: url('../styles/icons/回访.png') no-repeat center center;
    display: none;
}

.icon-qiyong {
    background: url('../styles/icons/启用.png') no-repeat center center;
    display: none;
}

.icon-biangeng {
    background: url('../styles/icons/变更.png') no-repeat center center;
    display: none;
}

.icon-gongtan {
    background: url('../styles/icons/摊销费.png') no-repeat center center;
    display: none;
}

.icon-chaobiao {
    background: url('../styles/icons/抄表-01.png') no-repeat center center;
    display: none;
}

.icon-sanbiao {
    background: url('../styles/icons/三表.png') no-repeat center center;
    display: none;
}

.icon-paixu {
    background: url('../styles/icons/排序.png') no-repeat center center;
    display: none;
}

.icon-tongbu {
    background: url('../styles/icons/同步.png') no-repeat center center;
    display: none;
}

.icon-guazhang {
    background: url('../styles/icons/挂账.png') no-repeat center center;
    display: none;
}

.icon-bangding {
    background: url('../styles/icons/绑定.png') no-repeat center center;
    display: none;
}

.icon-tongzhi {
    background: url('../styles/icons/通知.png') no-repeat center center;
    display: none;
}

.icon-fahuo {
    background: url('../styles/icons/发货.png') no-repeat center center;
    display: none;
}

.icon-wancheng {
    background: url('../styles/icons/完成.png') no-repeat center center;
    display: none;
}

.icon-guanbi_2 {
    background: url('../styles/icons/关闭_2.png') no-repeat center center;
    display: none;
}

.icon-guanlian {
    background: url('../styles/icons/关联.png') no-repeat center center;
    display: none;
}

.icon-more {
    background: url('../styles/icons/更多.png') no-repeat center center;
    display: none;
}

.icon-reset {
    background: url('../styles/icons/重置.png') no-repeat center center;
    display: none;
}
