.tdsearch label {
    margin-right: 10px;
}

.btn.btn-link {
    padding: 4px !important;
}

ul.top-bar {
    list-style: none;
    margin-left: 5px;
    padding-left: 5px;
}

.top-bar li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

    .top-bar li.act-arrow {
        background: url('../styles/images/arrow_right.png');
        background-size: 50px 30px;
        width: 50px;
    }

    .top-bar li.active {
        border-color: #0094ff;
    }

    .top-bar li.act-item a {
        font-size: 15px;
        font-weight: 400;
        display: block;
        position: relative;
        z-index: 2;
        text-decoration: none;
        line-height: 30px;
        color: #a1a5a6;
    }

    .top-bar li.act-item.active a, .top-bar li.act-item.active:hover a {
        color: #0094ff;
    }


ul.top-bar {
    margin-bottom: 0px;
    margin-top: 10px;
}

.top-bar li.act-item {
    padding: 0;
}

    .top-bar li.act-item a {
        padding: 0 10px;
        border-right: solid 1px #ccc;
        height: 20px;
        line-height: 20px;
        color: #000;
        font-weight: bold;
        font-size: 13px;
    }

    .top-bar li.act-item.active a, .top-bar li.act-item.active:hover a {
        color: #ffc107;
    }

    .top-bar li.act-item.active {
        border-color: #ffc107;
    }
