body, .ztree * {
    font-size: 13px;
}

.ztree li span.button.Icon_0_ico_open, .ztree li span.button.Icon_0_ico_close {
    margin-right: 2px;
    background: url(../styles/icons/1_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}

.ztree li span.button.Icon_1_ico_open, .ztree li span.button.Icon_1_ico_close, .ztree li span.button.Icon_1_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/1_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}

.ztree li span.button.Icon_2_ico_open, .ztree li span.button.Icon_2_ico_close, .ztree li span.button.Icon_2_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/2_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}

.ztree li span.button.Icon_3_ico_open, .ztree li span.button.Icon_3_ico_close, .ztree li span.button.Icon_3_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/3_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}

.ztree li span.button.Icon_4_ico_open, .ztree li span.button.Icon_4_ico_close, .ztree li span.button.Icon_4_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/4_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}

.ztree li span.button.Icon_5_ico_open, .ztree li span.button.Icon_5_ico_close, .ztree li span.button.Icon_5_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/5_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}
.ztree li span.button.Icon_6_ico_open, .ztree li span.button.Icon_6_ico_close, .ztree li span.button.Icon_6_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/5_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}
.ztree li span.button.Icon_7_ico_open, .ztree li span.button.Icon_7_ico_close, .ztree li span.button.Icon_7_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/5_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}
.ztree li span.button.Icon_8_ico_open, .ztree li span.button.Icon_8_ico_close, .ztree li span.button.Icon_8_ico_docu {
    margin-right: 2px;
    background: url(../styles/icons/5_icon.jpg) no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    vertical-align: top;
    *vertical-align: middle;
}
