.panel-body {
    background: #f0f0f0;
}

.firstBox {
    padding: 10px 0;
    height: 140px;
}

.itemBox {
    margin: 0 1% 0 0;
    width: 32%;
    background: #fff;
    padding: 10px 0 0 0;
    height: 130px;
    border-spacing: 0;
    border-collapse: collapse;
    float: left;
}

    .itemBox.first {
        margin-left: 1%;
    }

.itemTitle {
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    font-size: 15px;
}

.content_item {
    display: inline-grid;
    width: 49%;
    border-spacing: 0;
    border-collapse: collapse;
    float: left;
}

    .content_item .count {
        text-align: center;
        line-height: 40px;
        font-size: 30px;
    }

.green {
    color: #00bf5e;
}

.red {
    color: #e00000;
}

.content_item .title {
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.content_line1 {
    line-height: 40px;
    padding-left: 50px;
}

.content_line2 {
    line-height: 40px;
}

.serviceBox {
    float: left;
    margin: 0 1%;
    width: 65%;
    display: inline-grid;
    background: #fff;
    min-height: 130px;
    position: relative;
}

.serviceTitle {
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
}

.operationBox {
    position: absolute;
    right: 5px;
    top: 10px;
}

.callBox {
    float: left;
    margin: 0;
    width: 32%;
    background: #fff;
    min-height: 130px;
    position: relative;
}

.historyTab {
    padding: 0 10px;
}

    .historyTab label {
        margin-right: 10px;
        cursor: pointer;
        padding: 0 10px;
    }

        .historyTab label.active {
            display: inline-block;
            line-height: 25px;
            border-radius: 10px;
            background: #dae8f4;
            font-size: 11px;
        }

table.basicinfo td label.title {
    width: 60px;
}

.tableItem label.title {
    width: 60px;
    padding: 0px;
}
