.ModuleBox {
    width: 100px;
    height: 30px;
    float: left;
    margin: 50px 50px 0px 50px;
    text-align: center;
    font-size: 16px;
    color: #302f2f;
    text-decoration: none;
    background: url(../../styles/images/Icons/allicons.png?v3) no-repeat;
    padding-top: 90px;
    background-size: 400px;
}

.jlfy {
    background-position: -5px -260px;
}

.zyda {
    background: url(../../styles/images/Icons/zyda.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.shezhi {
    background: url(../../styles/images/Icons/shezhi.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.yztz {
    background: url(../../styles/images/Icons/业主台账.png?v=1) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.jbbb {
    background: url(../../styles/images/Icons/交班报表.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.cszx {
    background-position: -200px -122px;
}

.gtcl {
    background-position: -295px 0px;
}

.dhsz {
    background: url(../../styles/images/Icons/单号设置.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.htda {
    background-position: -150px -675px;
}

.drzd {
    background-position: -200px 0px;
}

.ystz {
    background: url(../../styles/images/Icons/应收台账.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.fytz {
    background: url(../../styles/images/Icons/房源台账.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.fyda {
    background-position: -5px 0;
}

.cbcl {
    background-position: -5px -122px;
}

.yjtz {
    background: url(../../styles/images/Icons/押金台账.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.srtz {
    background: url(../../styles/images/Icons/收入台账.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.skgl {
    background: url(../../styles/images/Icons/收款管理.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.sfzx {
    background-position: -105px -122px;
}

.sfsz {
    background-position: -105px 0;
}

.qxgl {
    background: url(../../styles/images/Icons/权限管理.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.qftz {
    background: url(../../styles/images/Icons/欠费台账.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.yhgl {
    background: url(../../styles/images/Icons/用户管理.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.xtsz {
    background: url(../../styles/images/Icons/系统设置.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.jsfp {
    background: url(../../styles/images/Icons/角色分配.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.cwsj {
    background-position: -295px -122px;
}

.ystz {
    background: url(../../styles/images/Icons/预收台账.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}

.tjtz {
    background-position: -18px -675px;
}

.kfzx {
    background-position: -98px -408px;
}

.glkb {
    background-position: -199px -556px;
}

.ckgl {
    background-position: -199px -408px;
}

.dkgl {
    background: url(../../styles/images/Icons/dkgl.jpg) no-repeat center center;
    background-size: 80px 80px;
}

.zcdj {
    background-position: -276px -675px;
}

.weixin {
    background: url(../../styles/images/Icons/weixin.jpg) no-repeat center center;
    background-size: 80px 80px;
}

.gcsb {
    background-position: -295px -408px;
}

.htgl {
    background-position: -150px -675px;
}
.jszx {
    background-position: -282px -675px;
}
.lyfc {
    background: url(../../styles/images/Icons/联营分成.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}
.fzjs {
    background: url(../../styles/images/Icons/返租结算.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}
.fpgl {
    background: url(../../styles/images/Icons/发票管理.png) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}
.sanbiao {
    background: url(../../styles/images/Icons/sanbiao.png?v3) no-repeat;
    padding-top: 90px;
    background-size: 86px 86px;
    background-position: 50% 0%;
}
